<% content_for :crum do %>
	» <%= link_to("All domains", domains_url()) %> » <%= link_to("#{@domain.name.to_s.capitalize} details", domain_url(@domain)) %> » <%= @service.name.to_s.capitalize%> details
<% end %>

<h1>Service: <%=@domain.name%>::<%= @service.name %></h1>
<br />
<h2>Available methods</h2>
 <h3>Exposed</h3>
 <%= list(@service.methods[:exposed], "methods")%>

 <h3>Found</h3>	
 <%= list(@service.methods[:all], "methods")%>

<h2>Available variables</h2>
 <h3>Read & write</h3>	
 <%= list(@service.variables[:both], "variables")%>

 <h3>Write only</h3>	
 <%= list(@service.variables[:write], "variables")%>

 <h3>Read only</h3>	
 <%= list(@service.variables[:read], "variables")%>